@model SystemVianda.Models.TblDetallesRuta

@{
    ViewBag.Title = "Details";
}


<div class="container-fluid ">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-push-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading"> <h4>Detalles</h4></div>
                        <div class="panel-body">
                            <div>
                                <div>
                                   
                                   
                                    <dl class="dl-horizontal">
                                        <dt>
                                            @*@Html.DisplayNameFor(model => model.Clientes.Nombre)*@
                                            Ruta Del Cliente
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Clientes.Nombre)
                                        </dd>

                                        <dt>
                                            @*@Html.DisplayNameFor(model => model.Rutas.Nombre)*@
                                            Nombre De Ruta
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Rutas.Nombre)
                                        </dd>

                                    </dl>
                                </div>
                                <p>
                                    @Html.ActionLink("Editar", "Edit", new { id = Model.IdDetallesRuta }, new { @class = "btn btn-success ", }) |
                                    @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-default " })
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>